
body {
     background-color:hsl(30, 38%, 92%) ;
}
.container {
    padding: 200px;
}
img {
    display: inline-block ;
    width: 50%;
    height: 500px;
    border-radius: 10px 0px 0px 10px;
}
.all-texts {
    display: inline-block;
    float: right;
    background-color: hsl(0, 0%, 100%);
    width: 50%;
    height: 500px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    text-align: left;
    box-sizing: border-box;
    padding: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}
.perfume {
    color: hsl(228, 12%, 48%);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 14px;
}
h1 {
    color: hsl(212, 21%, 14%) ;
     font-family: "Fraunces", serif;
     font-weight: 700;
     font-size: 2.8rem;
}
.description {
    color: hsl(228, 12%, 48%);

}
.price {
    font-family: "Fraunces", serif;
    color: hsl(158, 36%, 37%) ;
    font-weight: 700;
    font-size: 25px;
   display: inline-block;
}
.previous-price {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    display: inline-block;
    margin: 10px;
    font-size: 20px;
}
.price1 {
    margin-bottom: 0%;
}
.cart1 {
    background-color: hsl(158, 36%, 37%);
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-top: 1px;
    padding:0%;
    
}
.icon {
    height: 14px;
    width: 14px;
    margin-left: 50px;
    margin-top: 10px;
    
}
.cart {
    display: inline;
    color: hsl(0, 0%, 100%) ;
}
footer {
    margin-top: 15px;
}

@media (max-width: 1180px) {.container {
     width: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
}
img {
    width: 90%;
    height: 300px;
    
}
.all-texts {
    width: 90%;
  
}

}